on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version-file: '.python-version'
          cache: 'pip'
      - name: Install dependencies
        run: |
          pip install -r requirements.txt
      - name: Set git config
        uses: fregante/setup-git-user@v2
      - name: Creating tests badge
        continue-on-error: true
        run: |
          pytest --local-badge-output-dir . --local-badge-generate=status
      - name: Commit tests badge on coverage-badge branch
        run: |
          git add .
          git commit -m "Create/Update tests badge main branch"
          git checkout coverage-badge
          git checkout main -- tests.svg
          git commit -m "Create/Update tests badge coverage-badge branch"
          git push origin coverage-badge
